worker_processes 1;

events {
    worker_connections 1024;
}

http {
    include mime.types;
    default_type application/octet-stream;

    sendfile on;
    keepalive_timeout 65;

    server {
        listen 80;
        server_name workernode1;
        location / {
            proxy_pass http://workernode1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        listen 80;
        server_name workernode2;
        location / {
            proxy_pass http://workernode2;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    # Add more server blocks for additional hostnames as needed

    upstream workernode1 {
        server 3.82.236.195:31148;
        
    }

    upstream workernode2 {
        server 3.87.42.90:32370;
    }

    # Add more upstream blocks for additional backends as needed
}
